<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GIDClientID</key>
	<string>854186419005-tc4r5t0se5m0hrfc2a66ipndei6tprgu.apps.googleusercontent.com</string>
	<key>GIDServerClientID</key>
	<string>854186419005-l0u2olqlqe40qmgin0q8tjpvftooi6ac.apps.googleusercontent.com</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.854186419005-tc4r5t0se5m0hrfc2a66ipndei6tprgu</string>
			</array>
		</dict>
	</array>
	<key>MainbrellaKeychainAccessGroup</key>
	<string>$(AppIdentifierPrefix)com.mainbrella.shared</string>
	<key>MainbrellaLegacyKeychainAccessGroup</key>
	<string>$(AppIdentifierPrefix)com.mainbrella.ios</string>
</dict>
</plist>
